<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
</head>
<body>
	<h1>login</h1>
	<div>
		<input name="id_input" id="id_input" />
		<input name="pass_input" id="pass_input" />
		<input type="button" value="login" onclick="send_userdata()" />
	</div>
	<h1>login information</h1>
	<div>
		<textarea id="info" name="" cols="10" ros="10" ></textarea>
	</div>
	<h1>test</h1>
	<div>
		<input name="to_user" id="to_user" />
		<input name="send_input" id="send_input" />
		<input type="button" value="push" onclick="send_data()" />
	</div>
	<div>
		<textarea id="view" name="" cols="30" rows="10"></textarea>
	</div>
	<script type="text/javascript" src="static/jquery.min.js"></script>
	<script type="text/javascript">
var ws = new WebSocket("ws://nado.oknctict.tk:5000/echo");
ws.onmessage = function(e){
	$("#view").html($("#view").val() + e.data + "\n");
};
function send_data(){
	var json = {"type":"chat", "from":$("#id_input").val(), "to":$("#to_user").val(), "text":$("#send_input").val()};
	var json_text = JSON.stringify(json);
	ws.send(json_text);
};
function send_userdata(){
	var json = {"type":"web", "id": $("#id_input").val(),  "pass":$("#pass_input").val()};
	var json_text = JSON.stringify(json);
	ws.send(json_text);
	console.log(json_text);
	//ws.send($("#id_input").val() + "  " + $("#pass_input").val());
};
	</script>
</body>
</html>
