<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="stylesheet" href="static/css/min/bootmetro.min.css" />
	<link rel="stylesheet" href="static/css/min/bootmetro-responsive.min.css" />
	<title></title>
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="#">mi-7.tk</a>
		</div>
	</div>
    <div class="row">
		<div class="span2"></div>
		<div class="span8">
			<div class="page-header">
				<h1>Bulletin Board <small>for 7th mi</small></h1>
			</div>

			<div>
				<form onsubmit="return false;">
					<input class="span6" name="send_input" id="send_input" />
					<input class="span1" type="submit" value="send" onclick="send_data()" />
				</form>
			</div>
			<!-- <p>Now Access : <span id="numOfAccess">0</span></p> -->
			<div id="view"></div>
		</div>
		<div class="span2"></div>
    </div>

	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/min/bootmetro.min.js"></script>
	<script type="text/javascript" src="static/js/min/bootstrap.min.js"></script>
	<script type="text/javascript">
var ws = new WebSocket("ws://nado.oknctict.tk:8000/echo");
ws.onmessage = function(e){
	var recvData = jQuery.parseJSON(e.data);

	if (recvData.type == "msg"){
		str = "<blockquote style=\"width:100%;\">" + recvData.data + "</blockquote>";
		$("#view").prepend($(str));
	}
	else if (recvData.type == "userNum"){
		$("#numOfUser").html(recvData.data);
		$("#view").prepend(e.data);
	}
};

function send_data(){
	ws.send($("#send_input").val());
	$("#send_input").val("");
};
	</script>
</body>
</html>
